node_modules
.idea
.webstorm
.vscode
.history
.DS_Store
*.local
build
dist

# Vitepress related
.vitepress/cache/
.vitepress/dist/

# vite-plugin-vue-devtools outDir
.vite-inspect

.generated
env/.env.local

log
