.vp-doc h1::before {
    content: "H1";
    color: #6b6d6f;
    margin-right: 0px;
    font-size: 0.8rem;
    margin-right: 5px;
    font-weight: normal;
}

.vp-doc h2::before {
    content: "H2";
    color: #6b6d6f;
    margin-right: 0px;
    font-size: 0.8rem;
    margin-right: 5px;
    font-weight: normal;
}

.vp-doc h3::before {
    content: "H3";
    color: #6b6d6f;
    margin-right: 0px;
    font-size: 0.8rem;
    margin-right: 5px;
    font-weight: normal;
}

.vp-doc h4::before {
    content: "H4";
    color: #6b6d6f;
    margin-right: 0px;
    font-size: 0.8rem;
    margin-right: 5px;
    font-weight: normal;
}

.vp-doc h5::before {
    content: "H5";
    color: #6b6d6f;
    margin-right: 0px;
    font-size: 0.8rem;
    margin-right: 5px;
    font-weight: normal;
}

.vp-doc h6::before {
    content: "H6";
    color: #6b6d6f;
    margin-right: 0px;
    font-size: 0.8rem;
    margin-right: 5px;
    font-weight: normal;
}